body {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 70px;
}

.navbar + .main-content {
  padding-top: 56px; /* Ajuste conforme a altura da sua navbar */
  padding-bottom: 40px; /* Ajuste conforme a altura do footer */
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.footer {
  background-color: #e0e0e0;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Estilos específicos para páginas de login e registro */
.auth-page {
  display: flex;
  flex-direction: column;
}

.auth-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-footer {
  margin-top: auto;
}

.card {
  margin-bottom: 1rem;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.bg-purple {
  background-color: #dcd9d9 !important;
}

.bg-green {
  background-color: #006414 !important;
  border: #006414;
}

.bg-gray {
  background-color: #e0e0e0 !important; 
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

/* Estilos de hover para botões com classe 'bg-green' */
.bg-green {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.bg-green:hover {
  background-color: #004d0f !important;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bg-green:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos de hover para botões padrão do Bootstrap com classe 'bg-green' */
.btn.bg-green {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn.bg-green:hover {
  background-color: #004d0f !important;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn.bg-green:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}